<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/jpg" href="{% static 'food/fav.jpg' %}">
</head>
<body>
{% block menu %}
<div class="but">
    {% if user.is_authenticated %}
    <p>Пользователь: {{ user.username|capfirst }}</p>
    <form action="{% url 'logoutuser' %}" method="post">
        {% csrf_token %}
        <button class="btn">Выйти</button>
    </form>
    {% else %}
    <p class="edit"><a href="{% url 'authorisation' %}">Вход</a></p>
    <p class="edit"><a href="{% url 'registration' %}">Регистрация</a></p>
    {% endif %}

</div>
<ul class="menu">
  <li><a href="{% url 'index' %}">Главная</a></li>
  <li><a href="{% url 'fitness' %}">Фитнес</a></li>
  <li><a href="{% url 'diets' %}">Про диеты</a></li>
  <li><a href="{% url 'recipes' %}">Рецепты</a></li>
</ul>
{% endblock %}
{% block lk %}
{% if user.is_authenticated %}
<div class="article block">
        <div class="lk"><a href="{% url 'create-article' %}">Добавить статью</a></div>
        <div class="lk"><a href="#">Дневник питания</a></div>
        <div class="lk"><a href="#">Замеры</a></div>
</div>
{% endif %}
{% endblock %}
{% block content %}

{% endblock %}
</body>
</html>